<div 
style="background-color: #343a40;">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="navbar-brand d-inline">
            <img 
            src="logo/logo3.png" 
            alt="Logo" width="50" 
            height="50">
            
            <span 
            class="nav-text p-2" 
            style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;" 
            style="color: #e4e4e4" 
            > <a ui-sref="pocetna" style="color: #e4e4e4">Blogist - where blogs live</a> </span>
        </div>
    </nav>
    <div 
    id="naslov" 
    class="bg-dark">
        <h1>BLOGIST</h1>
        <hr>
    </div>

    <!-- Authentication form -->
    
    <form 
    id="authForm" 
    class="fontForm" 
    ng-submit="authCtrl.go()">
        <div> 
            <p ng-if="authCtrl.logIn">Welcome back! Let's create some blogs :)</p> 
            <p ng-if="authCtrl.signIn">Welcome, let's set you up!</p>
        </div>
        <br>
        <div class="form-group">
            <label 
            for="author"
            ng-if="authCtrl.logIn"
            >Enter your username: </label>
            <label 
            for="author"
            ng-if="authCtrl.signIn"
            >Create your username: </label>

            <input 
            type="text" 
            class="form-control" 
            id="author" 
            required
            placeholder="Your username" 
            style="width: 40; height: 40"
            ng-model="authCtrl.user.author">

        </div>
        <div class="form-group">
            <label 
            for="password"
            ng-if="authCtrl.logIn"
            >Enter your password: </label>
            <label 
            for="password"
            ng-if="authCtrl.signIn"
            >Create your password: </label>
            <input 
            type="password" 
            class="form-control" 
            id="password" 
            required
            placeholder="Your password"
            ng-model="authCtrl.user.password">
        </div>
        <hr style="width: 15.8%;">
        <button type="submit" class="" style="margin-top: 0.8em; font-size: 20px; background-color: #343a40; border: thick double #e4e4e4; color: #e4e4e4">Let's write!</button>
        
        
    </form>
    <div ng-if="authCtrl.message && authCtrl.logIn" class="fontForm" style="display:flex; flex-direction:row; justify-content: center;">
        <p>No match, please try again.</p>
    </div>
    <div ng-if="authCtrl.message && authCtrl.signIn" class="fontForm" style="display:flex; flex-direction:row; justify-content: center">
        <p>Username taken, please try another one.</p>
    </div>
    <br ng-if="!authCtrl.message">
    <br>
    <!-- ovo pise ako je usao preko Sign in -->
    <div class="fontForm" style="display:flex; flex-direction: column; align-items: center" ng-if="authCtrl.signIn">
        <p>Already have an account? </p> 
        <button style="border-radius: 5px; border: 1px solid #e4e4e4; background-color: #343a40; color: #e4e4e4;" ui-sref="auth({mode: 'logIn'})" >Log in</button>
    </div>
    <!-- ovo pise ako je usao preko Log in -->
    <div class="fontForm" style="display:flex; flex-direction: column; align-items: center" ng-if="authCtrl.logIn">
        <p>Don't have an account? </p> 
        <button style="border-radius: 5px; border: 1px solid #e4e4e4; background-color: #343a40; color: #e4e4e4" ui-sref="auth({mode: 'signIn'})">Sign in</button>
    </div>
    
</div>