<div style="background-color: #343a40;">
    <div style="margin: 1em 0 0 1em">
        <img 
        src="logo/logo3.png" 
        alt="Logo" width="50" 
        height="50">
        
        <span 
        class="nav-text p-2" 
        style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;color: #e4e4e4;" 
        > <a ui-sref="pocetna" style="color: #e4e4e4">Blogist - where blogs live</a> </span>
    </div>

    
    <div id="blog">
        <!-- DIV BLOG -->
        <div id="blogDiv">
            <form name="form" id="form" ng-submit="blogCtrl.publishBlog()" enctype="multipart/form-data">
                <!-- ZA NEW I EDIT -->
                <input type="text" ng-if="blogCtrl.stateNew || blogCtrl.stateEdit" class="blogFont" style="font-size: 20px; width: 100%" ng-click="blogCtrl.showOptions()" ng-model="blogCtrl.blogContent.headline" name="headline" required>
                <!-- ZA READ -->
                <p class="blogFont" style="font-size: 50px; border-bottom: 1px dashed #343a40" ng-if="blogCtrl.stateRead">{{blogCtrl.blogContent.headline}}</p>
                <br>
                <br>
                <!-- ZA READ -->
                <p class="blogFont" style="font-size: 27px; font-style: italic" ng-if="blogCtrl.stateRead">{{blogCtrl.blogContent.contentText}}</p>
                <!-- ZA NEW I EDIT -->
                <textarea name="content" id="" rows="10" ng-if="blogCtrl.stateEdit || blogCtrl.stateNew" ng-click="blogCtrl.showOptions()" ng-model="blogCtrl.blogContent.contentText" style="width: 80%;" required>{{blogCtrl.blogContent.contentText}}</textarea>
                <br>
                <!-- ZA READ I EDIT -->
                <div style="width: 80%; height: 20%">
                    <img ng-src="{{blogCtrl.blogContent.imgSrc}}" alt="slika" style="max-width: 100%; max-height: 100%" ng-if="blogCtrl.stateRead || blogCtrl.stateEdit">
                </div>
                
                <br>
                <!-- ZA EDIT -->
                <div ng-if="blogCtrl.stateEdit">
                    <p>Or replace this picture with other.</p> 
                    <input type="file" id="addPicEdit" name="picture2">
                </div>
                <!-- ZA NEW -->
                <div ng-if="blogCtrl.stateNew">
                    <label for="addPicNew">Add a picture.</label>
                    <input type="file" id="addPicNew" ng-click="blogCtrl.showOptions()" name="picture" required>
                </div>
                <!-- ZA NEW -->
                <div ng-if="blogCtrl.stateNew">
                    <label for="categories">Select your blog's category: </label>
                    <select name="category" id="categories" required>
                        <option ng-repeat="category in blogCtrl.categories" value="{{category.id}}">{{category.category_name}}</option>
                    </select>
                </div>
                <p class="blogFont" style="color:rgba(255, 0, 0, 0.842);" ng-if="blogCtrl.message">Filds can't be empty.</p>
                <br>
                <!-- ZA EDIT NEOBJAVLJENOG, EDIT OBJAVLJENOG, NOV -->
                <button type="button" class="blogFont button" ng-if="blogCtrl.stateEdit || blogCtrl.stateNew && blogCtrl.touched" ng-click="blogCtrl.backToLandingPage()">Cancel</button>
                <button type="button" class="blogFont button" ng-if="blogCtrl.stateEdit || blogCtrl.stateNew && blogCtrl.touched" ng-click="blogCtrl.saveBlog()">Save</button>
                <!-- ZA EDIT NEOBJAVLJENOG, NOV -->
                <button class="blogFont button" ng-if="blogCtrl.stateNew && blogCtrl.touched || blogCtrl.stateEdit && blogCtrl.blogContent.state == 0" style="float: right" type="submit" >Publish blog</button>
            </form>
            
        </div>

        <!-- DIV INFO -->
        <div id="infoDiv" class="ml-5 blogFont" ng-if="!blogCtrl.stateNew">
            Author: <a ui-sref="profilePage({authorsId: blogCtrl.blogContent['authors_id']})">{{blogCtrl.author}}</a><br> <!--  NEK SALJE NA PROFILE PAGE AUTORA -->
            Date: {{blogCtrl.blogContent.date | date}} <br>
            Grade: {{blogCtrl.blogContent.score}} <br>
            Views: {{blogCtrl.blogContent.views}} <br>
            <!-- ovu opciju nema ako je autor -->
            <div ng-if="!blogCtrl.stateEdit">
                Your rate:
                <input type="number" min="1" max="5" id="gradeField" value=1>
                <button class="button" ng-click="blogCtrl.sendGrade()">Send grade</button> <br>
            </div>
            
        </div>
    </div>
    
</div>