<div style="background-color: #343a40;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="navbar-brand d-inline">
            <img 
            src="logo/logo3.png" 
            alt="Logo" width="50" 
            height="50">
            
            <span 
            class="nav-text p-2" 
            style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;" 
            style="color: #e4e4e4" 
            > <a ui-sref="pocetna" style="color: #e4e4e4">Blogist - where blogs live</a> </span>
        </div>
    </nav>
    <br>
    <h1>
        Error {{errorCtrl.code}}
    </h1>
</div>