<div style="background-color: #e4e4e4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="navbar-brand d-inline">
            <img 
            src="logo/logo3.png" 
            alt="Logo" width="50" 
            height="50">
            
            <span 
            class="nav-text p-2" 
            style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;" 
            style="color: #e4e4e4" 
            >Blogist - where blogs live</span>
        </div>

        <div class="navbar ml-auto">
            <ul class="navbar-nav" >
                <li class="nav-item" ng-if="!pCtrl.token">
                    <a 
                    class="nav-link" 
                    ui-sref="auth({mode:'signIn'})" 
                    style="font-family:Georgia, 'Times New Roman', Times, serif"
                    >Sign in</a>
                </li>
                <li class="nav-item" ng-if="!pCtrl.token">
                    <a 
                    class="nav-link" 
                    ui-sref="auth({mode:'logIn'})" 
                    style="font-family:Georgia, 'Times New Roman', Times, serif"
                    >Log in</a>
                </li>
                <li class="nav-item" ng-if="pCtrl.token">
                    <a 
                    class="nav-link" 
                    ng-click="pCtrl.logOut()" 
                    style="font-family:Georgia, 'Times New Roman', Times, serif; cursor: pointer;"
                    >Log out</a>
                </li>
                <li class="nav-item" ng-if="pCtrl.token">
                    <a 
                    class="nav-link" 
                    ng-click="pCtrl.sendToProfile()"
                    style="font-family:Georgia, 'Times New Roman', Times, serif; cursor: pointer"
                    >My profile</a>
                </li>
                <li class="nav-item" ng-if="pCtrl.token">
                    <a 
                    class="nav-link" 
                    ui-sref="blogPage({state: 'new_blog', blog_id: ''})" 
                    style="font-family:Georgia, 'Times New Roman', Times, serif"
                    >New Blog</a>
                </li>
            </ul>
        </div> 
        
    </nav>
 

    <div id="naslov" class="bg-dark">
        <h1>BLOGIST</h1>
        <hr>
    </div>

    <!-- Forma za pretragu -->

    <div style="background-color: #e4e4e4;" id="formSearch">
        <form ng-submit="">
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <input 
                class="form-control " 
                id="searchField"
                type="search" 
                placeholder="Search for blogs..." 
                aria-label="Search" 
                style="float: left; width: 65%; outline-color: #343a40">
                <button 
                class="btn btn-outline-dark ml-1" 
                type="submit" style="font-family: Georgia, 'Times New Roman', Times, serif; border: 1px solid #343a" 
                style="float: left; width: 80%;"
                ng-click="pCtrl.search('searchField')"
                >Search</button>
            </div>
        </form>
    </div>
    <div class="hr2">
        <!-- za kategoriju -->
        <h4 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 5px 0 0 5px; font-size: 1.25rem; font-weight: 400; text-align:center; color: #e4e4e4">CATEGORIES</h4>
    </div>
    <div id="categoryDiv">
        <div class="categoryPart">
            <a href="#" ng-click="pCtrl.search('category', 'sport')">
                <img 
                onmouseover="this.src='logo/football.png'"
                onmouseout="this.src='logo/sportCat2.png'"
                src="logo/sportCat2.png" 
                alt="sportCategory"
                class="categoryImages">
            </a>
            <a href="#" ng-click="pCtrl.search('category', 'pets')">
                <img 
                onmouseover="this.src='logo/petsCat.png'"
                onmouseout="this.src='logo/petCat2.png'"
                src="logo/petCat2.png" 
                alt="petsCategory"
                class="categoryImages">
            </a>
            <a href="#" ng-click="pCtrl.search('category', 'fashion')">
                <img 
                onmouseover="this.src='logo/fashionCat.png'"
                onmouseout="this.src='logo/fashionCat2.png'"
                src="logo/fashionCat2.png" 
                alt="fashionCategory"
                class="categoryImages">
            </a>
        </div>
        <div class="categoryPart">
            <a href="#" ng-click="pCtrl.search('category', 'movies')">
                <img 
                onmouseover="this.src='logo/moviesCat.png'"
                onmouseout="this.src='logo/moviesCat2.png'"
                src="logo/moviesCat2.png" 
                alt="movieCategory"
                class="categoryImages">
            </a>
            <a href="#" ng-click="pCtrl.search('category', 'vacation')">
                <img 
                onmouseover="this.src='logo/vacationCat.png'"
                onmouseout="this.src='logo/vacationCat2.png'"
                src="logo/vacationCat2.png" 
                alt="vacationCategory"
                class="categoryImages">
            </a>
            <a href="#" ng-click="pCtrl.search('category', 'celebrities')">
                <img 
                src="logo/celebrityCat2.png" 
                onmouseover="this.src='logo/celebrityCat.png'"
                onmouseout="this.src='logo/celebrityCat2.png'"
                alt="celebrityCategory"
                class="categoryImages">
            </a>
        </div>
    </div>
    <div class="hr2" id="sortByDiv">
        <h4 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 5px 0 0 5px; font-size: 1.25rem; font-weight: 400; color: #e4e4e4">SORT BY:</h4>
        <div style="font-family: Georgia, 'Times New Roman', Times, serif; color: #e4e4e4; padding-top: 0.45em">
            <form >
                <input class="ml-5"  name="radio" value="newBlogs" type="radio" id="option1" ng-click="pCtrl.search('sortBy', 'newBlogs')"> <label for="option1">New blogs</label>
                <input class="ml-5" name="radio" value="popularBlogs" type="radio" id="option2" ng-click="pCtrl.search('sortBy', 'popularBlogs')"> <label for="option2">Popular blogs</label>
                <input class="ml-5" name="radio" value="bestRated" type="radio" id="option3" ng-click="pCtrl.search('sortBy', 'bestRated')"> <label for="option3">Best rated</label>
            </form>
        </div>
    </div>

    <!-- prikaz blogova -->
    <div style="background-color: #e4e4e4; display:flex; flex-direction: column; align-items: center; justify-content: center"> 
        <!-- blogovi div -->
        <div id="red">
            <!-- zasebni blog -->
            <div  class="blogovi" ng-repeat="blog in pCtrl.displayedBlogs">
                <a ui-sref="blogPage({state: 'read_blog', blog_id: blog['id']})" style="color: transparent; text-decoration: none;">
                    <div style="height: 300px; display:flex; flex-direction:row; justify-content:center; background-color: #697581; border: 6px solid #697581">
                        <img ng-src="{{pCtrl.getCoverPic(blog)}}" alt="slikaBloga" style="max-width: 100%; max-height:100%;">
                    </div>
                    
                    <div style="height: 200px; padding-left: 1em; padding-top: 1em; background-color: #464e56">
                        <p class="pTekst">{{blog.headline}}</p>
                        <p class="pTekst">category: {{pCtrl.categories[blog["category_id"]-1]["category_name"]}}</p>
                        <p class="pTekst">views: {{blog["views"]}} </p>
                        <p class="pTekst">score: {{pCtrl.getScore(blog["score_total"], blog["score_number"])}} </p>
                        <p class="pTekst">author: {{pCtrl.getAuthor(blog["authors_id"])}} </p>
                        <p class="pTekst">date: {{blog["date"]}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="hr2" id="moreDiv">
        <button style="background-color: #343a40; border: none;color: #e4e4e4; border-radius: 5px; font-family: Georgia, 'Times New Roman', Times, serif;" ng-click="pCtrl.displayMore()">Display more ...</button>
    </div>
</div>