<div style="background-color: #343a40;">
    <div style="margin: 1em 0 0 1em">
        <img 
        src="logo/logo3.png" 
        alt="Logo" width="50" 
        height="50">
        
        <span 
        class="nav-text p-2" 
        style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;color: #e4e4e4;" 
        > <a ui-sref="pocetna" style="color: #e4e4e4">Blogist - where blogs live</a> </span>
    </div>

    <form ng-submit="profileCtrl.saveChanges()" id="authorsForm">
        <div id="info" class="blogFont">
            
                <!-- AUTHOR INFO -->
                <div id="authorDiv">
                    <!-- PRVA LINIJA -->
                    <div>
                        <div style="float: left; margin-right: 2em; width: 200px; height: 200px; display: flex; flex-direction: row; justify-content: center; align-items: center">
                            <img ng-src="{{profileCtrl.authorInfo.profPic}}" alt="slika Autora" style="float: left; max-width: 100%; max-height: 100%; " id="slika">
                        </div>

                        <div style="float: left; margin-top: 20px; margin-right: 15px">
                            <p class="blogFont" style="float: left;" ng-if="!profileCtrl.isAuthor">{{profileCtrl.authorInfo["author"]}}</p>
                            <input type="text" ng-if="profileCtrl.isAuthor" ng-model="profileCtrl.authorInfo.author" ng-click="profileCtrl.offerSave()" style="width: 200px" required>
                            <br>
                            <br>
                            <p class="blogFont" ng-if="!profileCtrl.isAuthor" style="width: 500px">{{profileCtrl.authorInfo["about"]}}</p>
                            <textarea name="" id="" ng-if="profileCtrl.isAuthor" cols="40" rows="5" ng-model="profileCtrl.authorInfo.about" ng-click="profileCtrl.offerSave()" required></textarea>
                        </div>
                    </div>
                    <!-- DRUGA LINIJA -->
                    <div style="margin-top: 10px;">
                        <button ng-click="profileCtrl.changeImage()" ng-if="profileCtrl.isAuthor" type="button" style="border-radius: 2px">Change image</button>
                        <input type="file"  name="newImage" id="profImage" style="visibility: hidden;">
                        <button class="blogFont button" type="submit" ng-if="profileCtrl.potentialEdits">Save changes</button>
                        
                    </div>
                </div>
                    
            <!-- DIV STAT -->
            <div id="statDiv" class="ml-5 blogFont" >
                Total score: {{profileCtrl.stats["totalScore"]}}<br>
                Total views: {{profileCtrl.stats["totalViews"]}}<br>
            </div>
        </div>
    </form>  

    <!-- tabele sa blogovima -->
    <div style="margin: 1.4em 0 0 4.35em; display: flex; flex-direction: column; justify-content:left" class="blogFont">
        <p>
            <!-- ako je autor onda moze i da vidi neobjavljene blogove -->
            <button class="btn button" type="button" data-toggle="collapse" data-target="#publishedBlogs" aria-expanded="false" aria-controls="publishedBlogs" id="buttonPublishedBlogs">
                Published blogs
            </button>
            <button class="btn button" id="buttonUnpublishedBlogs" type="button" data-toggle="collapse" data-target="#unpublishedBlogs" aria-expanded="false" aria-controls="unpublishedBlogs" ng-if="profileCtrl.isAuthor">
                Unpublished blogs
            </button>
        </p>
        <!-- kad nije autor onda je prikazana tabela sa objavljenim blogovima-->

        <!-- az objavljene blogove -->
        <div style="width:70%;"> 
            <div class="collapse" id="publishedBlogs">
                <div class="card card-body">
                    <table class="table">
                        <tr ng-repeat="blog in profileCtrl.authorsBlogsPublished">
                            <td>
                                <a ui-sref="blogPage({'state': 'read_blog', 'blog_id': blog['id']})">
                                    {{blog["headline"]}}
                                </a>
                            </td>
                            <td>category: {{profileCtrl.categories[blog["category_id"]-1]["category_name"]}}</td>
                            <td>views: {{blog["views"]}}</td>
                            <td>score: {{profileCtrl.getScore(blog["score_total"], blog["score_number"])}}</td>
                            <td>date: {{blog["date"]}}</td>
                            <!-- ZA AUTORA --> 
                            <td ng-if="profileCtrl.isAuthor">
                                <a ui-sref="blogPage({'state': 'edit_blog', 'blog_id': blog['id']})">Edit blog</a>
                            </td>
                            <td ng-if="profileCtrl.isAuthor">
                                <button ng-click="profileCtrl.removeBlog(blog['id'], 'published')">Remove blog</button>
                            </td>
                        </tr>
                    </table>
                    <h2 ng-if="profileCtrl.authorsBlogsPublished.length == 0">No published blogs.</h2>
                </div>
            </div>
            <!-- za neobjavljene blogove -->
            <div class="collapse" id="unpublishedBlogs" ng-if="profileCtrl.isAuthor">
                <div class="card card-body">
                    <table class="table">
                        <tr ng-repeat="blog in profileCtrl.authorsBlogsUnpublished">
                            <td>
                                <a ui-sref="blogPage({'state': 'edit_blog', 'blog_id': blog['id']})">
                                    {{blog["headline"]}}
                                </a>
                            </td> 
                            <td>category: {{profileCtrl.categories[blog["category_id"]-1]["category_name"]}}</td>
                            <!-- ZA AUTORA --> 
                            <td>
                                <a ui-sref="blogPage({'state': 'edit_blog', 'blog_id': blog['id']})">Edit blog</a>
                            </td>
                            <td>
                                <button ng-click="profileCtrl.removeBlog(blog['id'], 'unpublished')">Remove blog</button>
                            </td>
                            
                            
                        </tr>
                        
                    </table>
                    <h2 ng-if="profileCtrl.authorsBlogsUnpublished.length == 0">No unpublished blogs</h2>
                </div>
            </div>
        </div>
        
    </div>

</div>