#authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    /* background-color: #e4e4e4; */
}

.fontForm {
    color: #e4e4e4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}