#blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4em 0 0 0;
}
#blogDiv{
    width: 70%;
    height: auto;
    border-radius: 5px;
    background-color: #e4e4e4;
    padding: 2em;
}
#infoDiv{
    width: 20%;
    height: 20em;
    border-radius: 5px;
    background-color: #e4e4e4;
    padding: 1em;
}
.blogFont{
    color: #343a40;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button{
    border-radius: 5px; 
    border: 1px solid #343a40; 
    background-color: #e4e4e4;
}