#naslov {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 10em;
    padding: 0 0 30px 0;
}  
h1 {
    margin: 0 0;
    font-size: 8em;
    color: #e4e4e4;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
hr {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin: 0 0;
    width: 35%;
}
#formSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hr2 {
    border: 2px solid #343a40;
    border-radius: 0px;
    width: 100%;
    height: 1cm;
    background-color: #343a40;
}
#categoryDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    background-color: #e4e4e4;
    /* border: 1px solid red; */
}
.categoryPart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 10px 0;
}
.categoryImages {
    height: 100px;
    margin: 5px;
}
#sortByDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#moreDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pTekst{
    margin:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem; 
    font-weight: 200; 
    color: #e4e4e4;
}
#red{
    display: block;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    width: 90%;
}
.blogovi{
    display: inline-block;
    width: 30%;
    margin: 1em;

}